<form enctype="multipart/form-data">
    <input name="picture" type="file" />
    <input type="button" value="Upload" id="sendButton"/>
</form>

<script type="text/javascript" src="js/button.js"> </script>
