@font-face
{
    font-family: Gidole;
    src: url(gidole.ttf);
}

body
{
    display: flex;

    height: 100vh;

    font-family: Gidole, sans-serif;
    color: white;
    
    margin: 0;

    background-color: rgb(40,40,40);
}

iframe
{
    border: none;
    width: 100%;
    height: 100%;

    background-color: rgb(200,200,200);
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

#bigUi
{
    flex: 1;

    display: flex;
    
    height: 100vh;
    /*background-color: red;*/
}
#bigUi > .pluginContainer
{
    flex: 1;

    position: relative;
    
    margin: 20px;

    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;*/
}
#bigUi > .pluginContainer > img
{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 200px;

    transform: translate(-50%, -50%);
}

#panel
{
    display: flex;
    flex-direction: column;

    width: 500px;
    
    /*background-color: blue;*/
}

#smallUiGrid
{
    flex: 1;

    overflow-y: auto;
    
    /*background-color: purple;*/
}
#smallUiGrid > .pluginContainer
{
    position: relative;
    
    margin: 20px;
    
    height: 200px;

    /*background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

#smallUiGrid > .pluginContainer.empty
{
    text-align: center;
    line-height: 200px;
}
#smallUiGrid > .pluginContainer.empty > img
{
    display: inline;
    position: static;
    width: 50px;
    margin: 10px;
}
#smallUiGrid > .pluginContainer.empty:hover > img
{
    display: inline;
}
#smallUiGrid > .pluginContainer.empty > .max, #smallUiGrid > .pluginContainer.empty:hover > .max
{
    display: none;
}

#smallUiGrid > .pluginContainer:hover > .close
{
    display: block;
}
#smallUiGrid > .pluginContainer > .close
{
    display: none;

    width: 30px;

    background-color: rgba(222,0,0,0.8);
    
    position: absolute;
    right: 0;
    top: 0;
}
#smallUiGrid > .pluginContainer > .close:hover
{
    background-color: rgba(255,100,100,0.8);
}

#smallUiGrid > .pluginContainer:hover > .max
{
    display: block;
}
#smallUiGrid > .pluginContainer > .max
{
    display: none;

    width: 30px;

    background-color: rgba(0,0,0,0.8);
    
    position: absolute;
    right: 30px;
    top: 0;
}
#smallUiGrid > .pluginContainer > .max:hover
{
    background-color: rgba(100,100,100,0.8);
}

#smallUiGrid > .pluginContainer.empty > .min
{
    display: inline;
}
#smallUiGrid > .pluginContainer > .min
{
    display: none;
    background-color: rgba(0,0,0,0.8);
}
#smallUiGrid > .pluginContainer > .min:hover
{
    background-color: rgba(100,100,100,0.8);
}

#pluginsGrid
{
    height: 100px;

    white-space: nowrap;

    overflow-x: auto;
    overflow-y: hidden;
    
    background-color: rgb(60,60,60);
}
#pluginsGrid > *
{
    display: inline-block;

    margin: 20px 0px 20px 20px;
    
    height: 60px;
    
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}
#pluginsGrid > :last-child
{
    margin-right: 20px;
}

#banner
{
    display: flex;
    padding: 5px;
    background-color: rgb(90,90,90);
}
#banner img
{
    height: 40px;
}
#banner p
{
    flex: 1;
    margin: 0 40px;
    text-align: center;
}
